<div class="content">
  <div class="parcel-table-container">
    <h1 class="parcel-table-title">Your Friendshyp Parcels</h1>
    <div class="parcel-table-filters">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Description" class="parcel-search-input" (keyup)="search(getValue($event))"/>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="countries">
        <mat-select
          required
          placeholder="Country"
          [(value)]="country"
          (valueChange)="setCountryFilter()"
        >
          <mat-option *ngFor="let country of countries" [value]="country.id">
            <span><img *ngIf="country.flag" class="country-flag" [src]="country.flag"
                       [alt]="country.name"/> {{country.name}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container *ngIf="dataSource && !isError && !isEmpty">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef >ID</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
        <ng-container matColumnDef="SKU">
          <th mat-header-cell *matHeaderCellDef >SKU</th>
          <td mat-cell *matCellDef="let row">{{row.SKU}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef >Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef >Street</th>
          <td mat-cell *matCellDef="let row">{{row.street}}</td>
        </ng-container>
        <ng-container matColumnDef="town">
          <th mat-header-cell *matHeaderCellDef >Town</th>
          <td mat-cell *matCellDef="let row">{{row.town}}</td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef >Country</th>
          <td mat-cell *matCellDef="let row">{{row.country.name}}</td>
        </ng-container>
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef >Delivery Date</th>
          <td mat-cell *matCellDef="let row">{{row.deliveryDate | date}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        class="mat-paginator-sticky"
        [length]="total"
        [pageSize]="size"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event; onPaginateChange($event)"
        showFirstLastButtons
        aria-labels="Set record size"></mat-paginator>
    </ng-container>
    <ng-container *ngIf="isError || isEmpty">
        <p *ngIf="isEmpty" class="parcel-list-empty">No Parcels to see :)</p>
      <p *ngIf="isError" class="parcel-list-error">Error fetching parcels :(</p>
    </ng-container>
  </div>

</div>
