.content {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.parcel-table-title {
  color: #FFFFFF;
  font-weight: bold;
}

table {
  width: 100%;
}

.parcel-table-container {
  background: #424242;
  width: 1200px;
  min-width: 600px;
  margin: 10px;
  border-radius: 4px;
  height: fit-content;
  position: relative;
  padding: 30px 30px 100px;
}

.parcel-search-input {
  color: #FFFFFF;
}

.parcel-table-filters {
  display: flex;
  gap: 10px;
}

.country-flag {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.parcel-list-empty, .parcel-list-error {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  margin: 50px 0
}

.parcel-list-error {
  color: orangered;
}

.mat-paginator-sticky {
  bottom: 0;
  position: absolute;
  z-index: 10;
  right: 0;
}
